{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MerchEx - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/resetMeyer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
    {% block extra_js %}
    {% endblock extra_js %}
</head>

<body>
    <header>
        <h1>MerchEx</h1>
    </header>
    {% block content %}
    {% endblock content %}

</body>

</html>

<!--
----------------

Dans post.html

<h2>{{ post.titre }}</h2>
{{ post.contenu }}

Dans forms.py

class FormulaireContact(forms.Form):
    nom = forms.CharField(...)
    prenom = forms.CharField(...)
    mail = forms.EmailField(...)

    # Normalement ici des fonctions de validation / conversion

Dans la vue
   render(request, 'formulaire.html', {'form': FormulaireContact()})

Dans formulaire.html 

<form method='POST'>
    {% csrf_token %}
    <input type="hidden">LE TOKEN CSRF</input>
    {{ form }}
</form>
-->